body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Lato", sans-serif;
}

.container {
    position: relative;
    margin: auto;
    width: 1020px;
}

/*header section*/

header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 89px;
    text-transform: uppercase;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px
}

.logo {
    height: 100%;
    font-size: 2em;
    margin: .67em 0;
}

.logo__name {
    font-size: 24px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: left;
    vertical-align: -1px;
    text-decoration: none;
}

.logo__name::after {
    content: "*";
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
    color: #f06c64;
}

/*navigation*/

.header__navigation {
    width: 380px;
    height: 100%;
}

.header__navigation > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    list-style: none;
}

.header__navigation > ul > li > a {
    font-weight: bold;
    font-size: 12px;
    line-height: 68px;
    color: #ffffff;
}

.header__navigation > ul > li > a:hover {
    color: #f06c64;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.header__navigation > ul > li:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 19px;
    color: #494e62;
}

/*section slider*/

.screen {
    position: absolute;
    cursor: pointer;
}

#screen-1 {
    width: 188px;
    height: 333px;
    background-color: #0f0f0f;
    margin-left: 86px;
    margin-top: 118px;
    display: none;
    z-index: 2;
}

#screen-2 {
    width: 333px;
    height: 188px;
    background-color: #0f0f0f;
    margin-left: 445px;
    margin-top: 188px;
    display: none;
    z-index: 2;
}

.slider {
    width: 100%;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

img {
    border-style: none;
}

.arrow__prev {
    position: absolute;
    margin-top: 281px;
    margin-left: 2px;
    cursor: pointer;
}

.arrow__prev:hover {
    filter : hue-rotate(220deg);
    -webkit-filter : hue-rotate(220deg);
}

.phone__vertical {
    position: absolute;
    margin-top: 53px;
    margin-left: 72px;
    cursor: pointer;
}

.phone__horizontal {
    position: absolute;
    margin-top: 174px;
    margin-left: 385px;
    cursor: pointer;
}

.arrow__next {
    position: absolute;
    margin-top: 281px;
    margin-left: 924px;
    cursor: pointer;
}

.arrow__next:hover {
    filter : hue-rotate(220deg);
    -webkit-filter : hue-rotate(220deg);
}

/*section services*/

.services {
    width: 960px;
    height: 449px;
    padding: 45px 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services__header {
    width: 940px;
    padding: 0 10px 0 10px;
}

.services__header > h2 {
    margin: 23px 0;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
}

.services__header > p {
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.013rem;
}

.services__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 21px;
    width: 960px;
}

.cell {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 96px;
    padding: 0 10px 28px 10px;
    overflow: hidden;
}

.services__icon {
    display: block;
    width: 60px;
    height: 60px;
}

.cell__main {
    padding-left: 18px;
}

.cell__main > h3 {
    font-size: 18px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0;
    letter-spacing: 0.2px;
}

.cell__main > p {
    width: 220px;
    height: 62px;
    margin-top: 11px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*section portfolio*/

.portfolio {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 45px 40px 21px 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio > h2 {
    margin: 23px 0;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.portfolio > p {
    margin-bottom: 0;
    padding-top: 4px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.22px;
}

.container__buttons {
    width: 290px;
}

.container__buttons > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-top: 10px;
    margin-left: 2px;
    list-style: none;
}

.button__item {
    display: inline-block;
    padding: 0 6px;
    background-color: #2d303a;
    border: 1.5px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    outline: none;
    transition: .4s;
}

.button__item:hover, .button__item:focus {
    cursor: pointer;
    color: #dedede;
    border-color: #c5c5c5;
}

.portfolio__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 600px;
    margin-top: 18px;
    margin-left: -20px;
    margin-bottom: 47px;
}

.area__img {
    display: block;
    width: 220px;
    height: 187px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #464b5e;
}

/*section about us*/

.about__us {
    height: 728px;
    margin: 0;
    padding: 0 30px 0 30px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about__us__header {
    width: 940px;
    padding: 0 10px 0 10px;
}

.about__us__header > h2 {
    margin: 0;
    padding-top: 68px;
    padding-left: 1px;
    letter-spacing: 0.4px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
}

.about__us__header > p {
    margin-bottom: 0;
    padding-top: 9px;
    width: 945px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.07px;
}

.area__person__img {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #464b5e;
}

.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 45px;
}

.person {
    margin-left: -10px;
    width: 300px;
}

.person > h3 {
    height: 17px;
    overflow: hidden;
    margin-top: -3px;
    margin-left: 19px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.2px;
}

.person > p {
    margin-top: -7px;
    margin-left: 20px;
    width: 300px;
    max-height: 43px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social__icon {
    margin-left: 21px;
    margin-top: 23px;
}

/*section quote*/

.quote {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 42px 40px 18px 40px;
    background-color: #f06c64;
}
.quote__title {
    font-size: 28px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-top: 26px;
    letter-spacing: 1.3px;
}

.quote__description {
    width: 940px;
    height: 57px;
    font-size: 18px;
    margin-top: 27px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: -0.23px;
    text-align: justify;
}
.contact {
    width: 940px;
    height: 100%;
    margin: 0;
    padding: 10px 40px 17px 40px;
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
}
.content__form {
    display: grid;
    grid-template-columns: 625px 320px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 619px;
    margin: 0;
}
.input__form {
    height: 36px;
    margin-top: 1px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.input__form::-webkit-input-placeholder {
    color: #f48c8f;
    font-weight: 400;
}
.input__form:hover, .input__form:focus {
    background-color: #cf524b;
    box-shadow: 0 0 4px 1px #943732;
}
.form__describe {
    min-height: 189px;
    padding-top: 11px;
    resize: none;
    letter-spacing: -0.06px;
}
.form__submit {
    height: 36px;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    background-color: #d6564f;
    letter-spacing: -0.02px;
    text-transform: uppercase;
    color: #f48c8f;
    outline: none;
}
.form__submit:hover, .form__submit:focus {
    background-color: #cf524b;
    box-shadow: 0 0 4px 1px #943732;
}
.contact__info {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.info__title {
    margin: 1px 0 0 15px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.25px;
}
.info__description {
    height: 88px;
    width: 300px;
    margin: 11px 0 20px 15px;
    font-size: 12px;
    line-height: 21px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.19px;
}
.info__location {
    padding: 1px 0 2px 3px;
    margin: -2px 0 -2.5px 15px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.4px;
}
.info__location::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    right: 0;
    background: url(assets/img/location.png) no-repeat;
    width: 20px;
    height: 11px;
}
.info__tel {
    padding-left: 3px;
    font-size: 11px;
    line-height: 21.5px;
    margin: 1px 0 0 15px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.info__tel::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 1px;
    right: 2px;
    background: url(assets/img/phone.png) no-repeat;
    width: 20px;
    height: 11px;
}
.info__mail {
    margin: 1px 0 0 18px;
    font-size: 11px;
    line-height: 21.5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.45px;
}
.info__mail::before {
    content: "";
    position: relative;
    display: inline-block;
    top: 4px;
    right: 3px;
    background: url(assets/img/mail.png) no-repeat;
    width: 20px;
    height: 11px;
}
footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: 76px;
    margin: auto;
    background-color: #2d303a;
}
.copyright {
    margin-left: 41px;
    font-weight: normal;
    font-size: 12px;
    color: #666d89;
    letter-spacing: -0.01rem;
}
.footer__social__icon {
    margin: 3px 35px 0 0;
}
.footer__social__icon:hover {
    cursor: pointer;
}
.footer__icon {
    padding-right: 5px;
}